<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root"></div>
    <script type="module">
        import Template from './index.js'
        let tmpl = `<div class="newslist">
                <div class="img" v-if="info.showimage"><img src="{{image}}"></div>
                <div class="date" v-if="info.showDate">{{info.name}}</div>
                <div class="img">{{info.name}}</div>
            </div>
        `
        new Template().render(tmpl, {
            image: 'some img',
            info: {
                showImage: true, 
                showDate: false,
                name: 'aaa'
            }
        })
    </script>
</body>
</html>